@model Lottery.UI.Models.MegaSenaViewModel

@{
    ViewData["Title"] = "Aplicativo para sorteio da megasena";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">@ViewData["Title"]</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">Adicionar um bilhete</div>
                            <div class="panel-body">
                                <form asp-controller="Home" asp-action="AdicionaBilhete" method="post">
                                    <div class="form-group">

                                        <label for="exampleInputEmail1">Numeros</label>
                                        <input type="text" asp-for="Numeros" value="@Model.Numeros" class="form-control" id="numeros" aria-describedby="numeroslHelp" placeholder="6 Numeros do bilhete">
                                        <small id="numeroslHelp" class="form-text text-muted">Entre com os 6 numeros do bilhete separado por virgula</small>
                                    </div>
                                    <div class="btn-toolbar mb-2" role="toolbar" aria-label="Toolbar with button groups">
                                        <div class="btn-group mr-1" role="group" aria-label="First group">
                                            <input type="submit" class="btn btn-primary" value="Adicionar" />
                                            @if (@Model.Bilhetes.Count() > 0)
                                            {
                                                <a asp-action="Index" class="btn btn-danger">Reiniciar Sorteio</a>
                                            }
                                        </div>
                                        <div class="btn-group mr-1" role="group" aria-label="First group">
                                            <a asp-action="GeraAleatorios" class="btn btn-primary">Gerar Bilhetes Aleatórios</a>
                                            @if (@Model.Bilhetes.Count() > 0)
                                            {
                                                <a asp-action="Sortear" class="btn btn-success">Efetuar Sorteio</a>
                                            }
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(@Model.NumerosSorteados))
            {
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">Resultado do sorteio</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">Números Sorteados</div>
                                                <div class="panel-body">
                                                    <h4>@Model.NumerosSorteados</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">0 acertos</div>
                                                <div class="panel-body">
                                                    @if (@Model.BilhetesSemAcerto.Count > 0)
                                                    {
                                                        @Html.Partial("GridResultadoPartial", @Model.BilhetesSemAcerto);
                                                    }
                                                    else
                                                    {
                                                        <h6>Não houveram</h6>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">1 acerto</div>
                                                <div class="panel-body">
                                                    @if (@Model.BilhetesComUmAcerto.Count > 0)
                                                    {
                                                        @Html.Partial("GridResultadoPartial", @Model.BilhetesComUmAcerto);
                                                    }
                                                    else
                                                    {
                                                        <h6>Não houveram</h6>
                                                    }
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">

                                            <div class="panel panel-default">
                                                <div class="panel-heading">2 acertos</div>
                                                <div class="panel-body">
                                                    @if (@Model.BilhetesComDoisAcertos.Count > 0)
                                                    {
                                                        @Html.Partial("GridResultadoPartial", @Model.BilhetesComDoisAcertos);
                                                    }
                                                    else
                                                    {
                                                        <h6>Não houveram </h6>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">3 acertos</div>
                                                <div class="panel-body">
                                                    @if (@Model.BilhetesComTresAcertos.Count > 0)
                                                    {
                                                        @Html.Partial("GridResultadoPartial", @Model.BilhetesComTresAcertos);
                                                    }
                                                    else
                                                    {
                                                        <h6>Não houveram ganhadores</h6>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">Quadra</div>
                                                <div class="panel-body">
                                                    @if (@Model.BilhetesVencedoresQuadra.Count > 0)
                                                    {
                                                        @Html.Partial("GridResultadoPartial", @Model.BilhetesVencedoresQuadra);
                                                    }
                                                    else
                                                    {
                                                        <h6>Não houveram ganhadores</h6>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">Quina</div>
                                                <div class="panel-body">
                                                    @if (@Model.BilhetesVencedoresQuina.Count > 0)
                                                    {
                                                        @Html.Partial("GridResultadoPartial", @Model.BilhetesVencedoresQuina);
                                                    }
                                                    else
                                                    {
                                                        <h6>Não houveram ganhadores</h6>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">Sena</div>
                                                <div class="panel-body">
                                                    @if (@Model.BilhetesVencedoresSena.Count > 0)
                                                    {
                                                        @Html.Partial("GridResultadoPartial", @Model.BilhetesVencedoresSena);
                                                    }
                                                    else
                                                    {
                                                        <h6>Não houveram ganhadores</h6>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (@Model.Bilhetes.Count() > 0)
            {
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">Bilhetes Cadastrados</div>
                                <div class="panel-body">
                                    @Html.Partial("GridResultadoPartial", @Model.Bilhetes)
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
